<div class="container-fluid d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 80px);">
    <div class="row justify-content-center align-items-center w-100">
      <div class="col-md-6 col-lg-4">
        <div class="card card-style h-100 " >
          <div class="tab-content" id="pills-tabContent">
            <!-- Login Tab -->
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" style="background-color: #8EB7C3;">
              <div class="form px-4 pt-5 pb-5">
                <input type="text" name="email" class="form-control mb-3" placeholder="Email or Phone" [(ngModel)]="emailIngresado">
                <input type="password" name="password" class="form-control mb-3" placeholder="Password" [(ngModel)]="passwordIngresado">
                <button class="btn btn-primary btn-block" (click)="registrar()">Signup</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>