  <div class="d-flex justify-content-center align-items-center mt-5">
    <div class="card card-style" style="width: 400px;">
      <div class="tab-content" id="pills-tabContent">
        <!-- Login Tab -->
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" style="background-color: #8EB7C3;">
          <div class="form px-4 pt-5">
            <input type="text" name="email" class="form-control" placeholder="Email"
              [(ngModel)]="emailIngresado">
            <input type="password" name="password" class="form-control" placeholder="Contraseña"
              [(ngModel)]="passwordIngresado">
            <button class="btn btn-primary btn-block" (click)="registrar()">Registrar</button>
          </div>
          <div class="quick-access px-4 py-3">
          </div>
        </div>
      </div>
    </div>
  </div>