<div class="d-flex justify-content-center align-items-center mt-5">
  <div class="card card-style" style="width: 400px;">
    <div class="tab-content" id="pills-tabContent">
      <!-- Login Tab -->
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" style="background-color: #8EB7C3;">
        <div class="form px-4 pt-5">
          <input type="text" name="email" class="form-control" placeholder="Email or Phone"
            [(ngModel)]="emailIngresado">
          <input type="password" name="password" class="form-control" placeholder="Password"
            [(ngModel)]="passwordIngresado">
          <button class="btn btn-primary btn-block" (click)="login()">Login</button>
        </div>
        <div class="quick-access px-4 py-3">
          <button type="button" class="btn btn-secondary"
            (click)="fillCredentials('admin@hotmail.com', 'administrador')">Admin</button>
          <button type="button" class="btn btn-secondary" (click)="fillCredentials('user2', 'pass2')">Usuario 1</button>
          <button type="button" class="btn btn-secondary" (click)="fillCredentials('user3', 'pass3')">Usuario 2</button>
        </div>
      </div>
    </div>
  </div>
</div>