.about-container {
  max-width: 800px;
  margin: 10px auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
  border-radius: 15px;
  color: #fff; /* Texto blanco para contraste */
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Imagen de perfil */
.profile-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 3px solid #8EB7C3; /* Borde con el color principal */
}

/* Títulos principales */
h1, h2 {
  color: #8EB7C3; /* Color principal para los títulos */
}

/* Lista de juegos */
ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background: rgba(255, 255, 255, 0.1);
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  transition: background 0.3s;
}

ul li:hover {
  background: rgba(255, 255, 255, 0.3);
}

/* Botón de volver */
.btn {
  background-color: #8EB7C3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #6da0b2; /* Color más oscuro en hover */
}

/* Enlaces */
a {
  color: #8EB7C3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.title-container {
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Alinea verticalmente en el centro */
  gap: 10px; /* Espacio entre los títulos */
  text-align: center; /* Centra el texto dentro de los elementos */
}

.title-main {
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
}

.title-secondary {
  font-style: italic;
  text-decoration: underline;
  margin: 0;
  font-size: 1.5em;
}
