  <div class="about-container">
    <div class="profile-image">
      <img src="https://firebasestorage.googleapis.com/v0/b/lab4-tp1.appspot.com/o/foto%20about.jpg?alt=media&token=f9dc75e2-1cd9-4a33-a615-a55edbcbbbf0" alt="Foto de perfil" />
    </div>
    <h1>Sobre mi</h1>
    <p>
      ¡Hola! Soy Pablo Chimiski, estoy cursando la tecnicatura en programacion. En esta web se van a mostrar los distintos juegos que se van a desarrollar en la cursada.
    </p>
    <div class="title-container">
      <h2 class="title-main">Mi juego:</h2>
      <h2 class="title-secondary">LABERINTO</h2>
  </div>
      <p>
      El juego personalizado de esta sala de juegos es el clásico laberinto, el cual consiste en escapar del mismo usando las flechitas del teclado llegando al punto verde en el menor tiempo posible.
    </p>
    <h2>Juegos</h2>
    <ul>
      <li routerLink="/ahorcado" routerLinkActive="active">Ahorcado</li>
      <li routerLink="/mayoromenor" routerLinkActive="active">Mayor o Menor</li>
      <li routerLink="/laberinto" routerLinkActive="active">Laberinto</li>
      <li routerLink="/preguntados" routerLinkActive="active">Preguntados</li>
    </ul>


    <h2>Contacto</h2>
    <p>
      <strong>Correo: </strong> 
      <a href="mailto:pchimiski&#64;gmail.com">pchimiski&#64;gmail.com</a>.
    </p>
    <button class="btn btn-primary btn-block" routerLink="/">Volver</button>
  </div>
  