<div class="hangman-container">
    <h2>Ahorcado</h2>

    <!-- Mostrar la palabra oculta con letras adivinadas -->
    <div class="word">
        <span *ngFor="let letter of getDisplayedWord()">{{ letter }}</span>
    </div>

    <!-- Mostrar letras para seleccionar -->
    <div class="alphabet">
        <button *ngFor="let letter of alphabet" [disabled]="isLetterGuessed(letter) || isGameWon() || isGameLost()"
            (click)="onLetterClick(letter)">
            {{ letter }}
        </button>
    </div>

    <!-- Estado del juego -->
    <div class="game-status">
        <p *ngIf="isGameWon()">¡Ganaste!</p>
        <p *ngIf="isGameLost()">¡Perdiste! La palabra era {{ secretWord }}.</p>
        <p>Intentos restantes: {{ attemptsLeft }}</p>
        <button *ngIf="attemptsLeft == 0 || isGameWon()" (click)="restartGame()">REINICIAR</button>
    </div>
</div>
  