<div class="welcome-section">
  <h1>¡Bienvenido a la sala de juegos!</h1>
</div>

<div class="container-fluid">
  <div class="row g-0">
      <div class="col-md-6 col-lg-3">
          <div class="game-section" >
              <div class="overlay">
                <img class="game-image" src="https://firebasestorage.googleapis.com/v0/b/lab4-tp1.appspot.com/o/ahorcado1.png?alt=media&token=b56a3d70-4e71-4ebc-bc4d-d09cd2b46251">

                  <h3 class="game-title" routerLink="/ahorcado" routerLinkActive="active">Ahorcado</h3>
              </div>
          </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="game-section">
            <div class="overlay">
                <img class="game-image" src="https://firebasestorage.googleapis.com/v0/b/lab4-tp1.appspot.com/o/mayoromenor.jpg?alt=media&token=6b8d2043-eafe-4775-b748-9328a91e18b5">
                <h3 class="game-title" routerLink="/mayoromenor" routerLinkActive="active">Mayor o menor</h3>
            </div>
        </div>
    </div>
      <div class="col-md-6 col-lg-3">
          <div class="game-section" >
              <div class="overlay">
                <img class="game-image" src="https://firebasestorage.googleapis.com/v0/b/login-pfs.appspot.com/o/maze.jpg?alt=media&token=4054162f-4c20-4105-aa61-2423b48cbaa6">

                  <h3 class="game-title" routerLink="/laberinto" routerLinkActive="active" >LABERINTO</h3>
              </div>
          </div>
      </div>
      <div class="col-md-6 col-lg-3">
          <div class="game-section" >
              <div class="overlay">
                <img class="game-image" src="https://firebasestorage.googleapis.com/v0/b/lab4-tp1.appspot.com/o/trivia.jpeg?alt=media&token=57e91c76-52d8-4853-95c7-afb9c8b1126a">

                  <h3 class="game-title" routerLink="/preguntados" routerLinkActive="active">Preguntados</h3>
              </div>
          </div>
      </div>
  </div>
</div>