<div class="container d-flex flex-column justify-content-center align-items-center vh-100">
    <h1 class="mb-4">Bienvenido a la Sala de juegos</h1>
    <h1 class="mb-4"></h1>
    <h1 class="mb-4"></h1>
    <h1 class="mb-4"></h1>
    <h1 class="mb-4"></h1>
    <div class="d-flex gap-3">
      <button routerLink="login" routerLinkActive="active-route" class="btn btn-primary" routerLink="/login">Login</button>
      <button routerLink="about" routerLinkActive="active-route" class="btn btn-secondary" routerLink="/about">About</button>
    </div>
  </div>