<div class="welcome-section">
  <h1>¡Bienvenido a la sala de juegos!</h1>
</div>

<div class="container-fluid">
  <div class="row g-0">
      <div class="col-md-6 col-lg-3">
          <div class="game-section" >
              <div class="overlay">
                  <h3 routerLink="/ahorcado" routerLinkActive="active">Ahorcado</h3>
              </div>
          </div>
      </div>
      <div class="col-md-6 col-lg-3">
          <div class="game-section" >
              <div class="overlay">
                <h3 routerLink="/mayoromenor" routerLinkActive="active">Mayor o menor</h3>
              </div>
          </div>
      </div>
      <div class="col-md-6 col-lg-3">
          <div class="game-section" >
              <div class="overlay">
                  <h3 routerLink="/laberinto" routerLinkActive="active" >Juego 3</h3>
              </div>
          </div>
      </div>
      <div class="col-md-6 col-lg-3">
          <div class="game-section" >
              <div class="overlay">
                  <h3 routerLink="/preguntados" routerLinkActive="active">Preguntados</h3>
              </div>
          </div>
      </div>
  </div>
</div>