.navbar {
    background-color: #F4F4F6; /* Fondo claro */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border-radius: 8px; /* Bordes redondeados */
  }

  /* Navbar List */
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  /* Navbar List Items */
  .navbar li {
    margin: 0 10px;
  }

  /* Navbar Links */
  .navbar li a {
    display: block;
    color: #6D4F92; /* Color morado */
    font-weight: bold; /* Texto en negrita */
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 50px; /* Bordes redondeados */
    background-color: #E0E0E0; /* Fondo gris claro */
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .navbar li a:hover {
    background-color: #D83A56; /* Color de hover en rojo */
    color: white; /* Texto en blanco al hacer hover */
  }

  .active {
    background-color: #D83A56; /* Color activo en rojo */
    color: white; /* Texto blanco en el activo */
  }

  /* Circular Image */
  .circular-image {
    background-color: #E0E0E0; /* Fondo claro */
    padding: 5px;
    border-radius: 50%; /* Imagen redondeada */
    width: 52px; /* Tamaño de la imagen */
    transition: opacity 0.3s ease;
  }

  .circular-image:hover {
    opacity: 0.8; /* Efecto hover en la imagen */
  }

  /* Left Aligned Links */
  .nav-left {
    display: flex;
  }

  /* Right Aligned Links */
  .nav-right {
    display: flex;
    margin-left: auto;
  }

  /* Images with routerLink */
  img[routerLink] {
    cursor: pointer;
  }