<h1 class="title">Resultados de los juegos</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Juego</th>
            <th>Fecha</th>
            <th>Resultado</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of resultados">
            <td>{{item.email}}</td>
            <td>{{item.juego}}</td>
            <td>{{item.fecha | date: 'dd/MM/yyyy'}}</td>
            <td *ngIf="item.resultado">{{item.resultado}}</td>
        </tr>
    </tbody>
</table>
